@model Contractor

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edytuj kontrahenta</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name">Nazwa</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="KRS">KRS</label>
            <input asp-for="KRS" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Regon">Regon</label>
            <input asp-for="Regon" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="NIP">NIP</label>
            <input asp-for="NIP" class="form-control" />
            <span asp-validation-for="NIP" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Edytuj kontrahenta</button>
        <a asp-controller="Contractor" asp-action="Index" class="btn btn-secondary" style="width:150px">Wróć do listy</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}