@using InvoicingWebCore.ViewModel

@model Company

<div class="row mt-3">
    <div class="col-3"></div>
    <div class="col-6">
        <form method="post">
            <input hidden asp-for="MonthMumber" />
            <input hidden asp-for="Id" />
            <input hidden asp-for="UserId" />
            <input hidden asp-for="InvoiceNumberCounter" />
            
            <div class="border p-3 mt-4">
                <div class="row text-primary">
                    <h4>General</h4>
                </div>
                <div class="px-3">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="Name">Company name</label>
                            <input asp-for="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label asp-for="FirstName">First name</label>
                            <input asp-for="FirstName" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label asp-for="LastName">Last name</label>
                            <input asp-for="LastName" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <div class="float-start" style="width: 90%">
                                <label asp-for="NIP"></label>
                                <input id="nip" asp-for="NIP" class="form-control"/>
                            </div>
                            <div class="float-end text-center align-text-bottom mt-3" style="width: 10%; font-size: 2rem">
                                <i onclick="GetCompanyData()" class="bi bi-download" style="cursor: pointer"></i>
                            </div>                            
                        </div>   
                        <div class="col-4">
                            <label asp-for="KRS"></label>
                            <input asp-for="KRS" class="form-control"/>
                        </div>
                        <div class="col-4">
                            <label asp-for="Regon"></label>
                            <input asp-for="Regon" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row text-primary">
                    <h4>Contact</h4>
                </div>
                <div class="px-3">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="AddressLine1">Address Line1</label>
                            <input asp-for="AddressLine1" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label asp-for="AddressLine2">Address Line2</label>
                            <input asp-for="AddressLine2" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-9">
                            <label asp-for="City">City</label>
                            <input asp-for="City" class="form-control" />
                        </div>
                        <div class="col-3">
                            <label asp-for="PostalCode">Postal code</label>
                            <input asp-for="PostalCode" class="form-control" />                
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-9">
                            <label asp-for="Province"></label>
                            <input asp-for="Province" class="form-control" />
                        </div>
                        <div class="col-3">
                            <label asp-for="Country"></label>
                            <input asp-for="Country" class="form-control" />
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  

    <script type="text/javascript">
        function GetCompanyData(){
            var nip = $("#nip").val();

            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '/Company/GetCompanyData',
                data: { nip : nip }, 
                success: function (response) { 
                    window.location.href = response.redirectToUrl;
                } 
            });            
        }
    </script>
}
