html {
    font-size: .8rem;
    position: relative;
    min-height: 100%;
}

body {
    font-size: .8rem;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}
