@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top: 80px; padding-bottom: 10px; margin-bottom: 0px;">
  <h1>Invoice system</h1>
  <h5>A free program for issuing invoices and other accounting documents for small and medium-sized companies.</h5>
  <h6>The program is very simple and intuitive, see how easy it can be to issue invoices via the Internet.</h6>
</div>

