@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top: 80px; padding-bottom: 10px; margin-bottom: 0px;">
  <h1>System faktur</h1>
  <h5>Darmowy program do wystawianie faktur oraz innych dokumentów księgowych dla małych i średnich firm.</h5>
  <h6>Program jest bardzo prosty i intuicyjny, przekonaj się jak łatwe może być wystawianie faktur przez internet.</h6>
</div>

