@model Invoice

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Usuń fakturę</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Number">Numer faktury</label>
            <input asp-for="Number" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="InvoiceTypeId">Typ faktury</label>
            <input asp-for="InvoiceTypeId" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="SaleDate">Data realizacji</label>
            <input asp-for="SaleDate" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Tax">VAT [%]</label>
            <input asp-for="Tax" disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Usuń fakturę</button>
        <a asp-controller="Invoice" asp-action="Index" class="btn btn-secondary" style="width:150px">Wróć do listy faktur</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}