@model Product

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Usuń produkt</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name">Nazwa produktu</label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="NetPrice">Cena netto</label>
            <input asp-for="NetPrice" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="GrossPrice">Cena brutto</label>
            <input asp-for="GrossPrice" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Tax">VAT [%]</label>
            <input asp-for="Tax" class="form-control" />
        </div>        
        <div class="mb-3">
            <label asp-for="Description">Opis</label>
            <input asp-for="Description" disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px">Usuń produkt</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">Wróc do listy produktów</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}